<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}ONMovies{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
    {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>
<body>
{% block body %}
    <div class="wrapper">
        <!-- Sidebar  -->
        {% set sidenav = app.request.cookies.get('sidenav') %}
        {% if sidenav %}
        <nav id="sidebar" class="active hidden">
            {% else %}
            <nav id="sidebar">
            {% endif %}
            <div class="sidebar-header">
                <h3>ONMovies</h3>
            </div>

            <ul class="list-unstyled components">
                <li>
                    <a href="{{ path('movie_index_2') }}">Home</a>
                </li>
                <li>
                    <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Genres</a>
                    <ul class="collapse list-unstyled" id="genreSubmenu">
                        {% for category in categories %}
                            <li>
                                <a href="{{ path('genre_index', {'genre': category.name}) }}">{{ category.name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </li>
                {% if filters is defined %}
                    <li>
                        <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Filters</a>
                        <ul class="collapse list-unstyled" id="filtersSubmenu">
                            {% for sortKey, filter in filters %}
                                <li>
                                    <a data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">{{ filter }}</a>
                                    <ul class="collapse list-unstyled">
                                        {% for orderKey, order in orders %}
                                            <li>
                                                <a href="{{
                                                    path(
                                                        app.request.attributes.get('_route'),
                                                        app.request.attributes.get('_route_params')|merge({'sort': sortKey, 'order': orderKey})
                                                    )
                                                }}">
                                                    {{ order }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">

            <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
                <div class="container-fluid">
                    <button type="button" id="sidebarCollapse" class="btn btn-info {{ sidenav }}">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <button class="navbar-toggler" id="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                            {% set active = '' %}
                            {% if is_granted('ROLE_USER') %}
                                {% if 'profile' in app.request.pathinfo %}
                                    {% set active = 'active' %}
                                {% endif %}
                                <li class="nav-item">
                                    <a class="nav-link {{ active }}" href="{{ path('user_profile') }}">Profile</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('logout') }}">Logout</a>
                                </li>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('login') }}">Login</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('register') }}">Register</a>
                                </li>
                            {% endif %}
                        </ul>
                        <form method="post" action="{{ path('app_search') }}" class="d-flex" role="search">
                            <div class="dropdown open in">
                                <input name="searchData" class="jAuto form-control me-2 dropdown-toggle"
                                       type="search" placeholder="Search"
                                       aria-label="Search" autocomplete="off">
                                <div class="dropdown-menu">
                                    <i class="hasNoResults">No matching results</i>
                                    <div class="list-autocomplete">

{#                                        <button type="button" class="dropdown-item">01 - Alpha  Barbuda</button>#}
{#                                        <button type="button" class="dropdown-item">02 - Charlie Alpha</button>#}
{#                                        <button type="button" class="dropdown-item">03 - Bravo Alpha</button>#}
{#                                        <button type="button" class="dropdown-item">04 - Delta</button>#}
                                    </div>
                                </div>
                            </div>
                            <button class="btn btn-outline-dark" type="submit">Search</button>
                        </form>
                    </div>
                </div>
            </nav>
           {% block content %}
           {% endblock %}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>
