{% extends 'base.html.twig' %}

{% block content %}
    <div class="row gy-4 justify-content-start">
        {% for movie in movies %}
            <div class="col">
                <div class="movie">
                    <a href="{{ path('movie_details', {'id': movie.id, 'urlTitle': movie.urlTitle }) }}">
                        <object data="{{ movie.posterUrl }}" type="image/jpg" class="movie-poster">
                            <img src="{{ asset('build/images/movie/vecteezy_icon-image-not-found-vector_.jpg') }}" alt="Poster not found">
                        </object>
                    </a>
                    <div class="movie-details">
                        <a href="{{ path('movie_details', {'id': movie.id, 'urlTitle': movie.urlTitle }) }}">
                            {{ movie.getTitle }}
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {{ pages|raw }}
{% endblock %}